<div class="modal fade reportthisjob-modal" id="reportthisjob-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Tell us a little more</h4>
            </div>
            <div class="modal-body">
                <input type="radio" name="notremote" value="office">&nbsp;
                I think this is an office/onsite job <br />
                <small>Ex: "to work here developer must be all the time onsite"</small> <br /><br />
                <input type="radio" name="notremote" value="partially">&nbsp;
                I think this job is partially remote <br />
                <small>Ex: a requirement to "work from Head Office for a minimum of 2 days per month"</small>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
